body{
    background: #f7f7f7;
}

#title, .subtitle, .post_title {
    color: #505050
}
#title{
    font-family: Verdana;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    font-family: Verdana, Arial;

}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15 px;
    border-radius: 5px;

}

.post_content{
    margin=0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
}